:root {
    --black: #011827;
    --darkBlue: #36769D;
    --gray: #B6BDB5;
    --lightBlue: #8ACFE5;
    --red: #E3170A;
}

html {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

body {
    align-content: center;
    align-self: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;

    /*  */
}

header {
    align-content: center;
    background-color: #011827;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    height: 144px;
    justify-content: center;
    max-width: 1000px;
    text-align: center;
}

.header__logo {
    border: 6px solid #FFFFFF;
    border-radius: 17px;
    box-sizing: border-box;
    color: #FFFFFF;
    flex-direction: row;
    font-family: 'Monofett', monospace;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    height: 82px;
    line-height: 45px;
    text-align: center;
    width: 128px;
}

.header__title {
    height: 84;
    width: 78;
    word-wrap: break-word;
}

.haeder__title p{
    padding: -10px;
    margin: -10px;
}

.header__spacer {
    background: url("images/header__spacer.png");
    background-size: cover;
    max-width: 1000px;
    min-height: 280px;

    /*  */
    /*  */
    /*  */
}

a {
    color: #36769D;
    font-size: small;
    font-weight: bold;
    margin: 10px auto;
    margin-top: 30px;
    text-align: center;
}

.button {
    align-self: center;
    background-color: #8ACFE5;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    height: 66px;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
    width: 308px;
}

.review {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 440px;
}

.main__slider {}

.main__slider--title {
    font-size: 1.3em;
    text-align: center;
}

.main__slider--slider {}

.main__story--box {}

.main__story--button {}