:root {
    --blue: #36769D;
    --darkBlue: #011827;
    --gray: #B6BDB5;
    --lightBlue: #8ACFE5;
    --red: #E3170A;
}
* {    
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
html {
    background-color: white;
}

body {
    align-content: center;
    align-self: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

header {
    display: flex;
    background-color: var(--darkBlue);
    color: white;
    height: 144px;
    max-width: 1000px;
}

header .wrapper{
    display: flex;
    margin: 1em;
}

.header__logo {
    background-image: url("images/esc_logo.png");
    background-repeat: cover;
    height: 82px;
    width: 128px;
    margin: auto 0;
}

.header__title {
    margin: auto 1em;
    height: 84;
    width: 78;
    word-wrap:normal;
    line-height: 0.2em;
    font-weight: 700;
}



.header__spacer {
    background: url("images/header__spacer.png");
    background-size: cover;
    max-width: 1000px;
    min-height: 280px;
}

a {
    color: #36769D;
    font-size: small;
    font-weight: bold;
    margin: 10px auto;
    margin-top: 30px;
    text-align: center;
}

.button {
    align-self: center;
    border-radius: 3px;
    font-weight: bold;
    height: 66px;
    justify-content: center;
    line-height: 80%;
    margin-top: 40px;
    min-width: 60%;
    text-align: center;
}

.red {
    background-color: var(--red);
    color: white;
}

.blue {
    background-color: var(--lightBlue);
    color: black;
}

.darkBlue {
    border: 2px solid var(--lightBlue);
    color: #8ACFE5;
}

.review {
    align-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    min-width: 90%;
}

.main__slider {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    max-width: 660px;
    min-height: 460px;

}

#slider-2{
    transform: translateY(-100%);
}
#slider-3{
    transform: translateY(-100%);
}
.main__slider--title {
    font-size: 1.3em;
    text-align: center;
}

.main__sliderBox {
    border-radius: 8px;
    box-shadow: 0px 0px 8px;

}

.main__sliderBox--slider {
    background: url("images/header__spacer.png");
    background-size: cover;
    border-bottom: 1px solid #011827;
    border-radius: 8px 8px 0 0;
    height: 220px;
    min-width: 100%;
}

.main__sliderBox--slider img {
    border-radius: 18px 18px 0px 0px;
    max-height: 50%;
    max-width: 100%;
}

.main__sliderBox--review {
    font-size: 0.8em;
    height: 50%;
    margin: 15px 15px;
    width: 100%;
    word-wrap: break-word;
}

.main__sliderBox--review .title {
    font-size: 1.3em;
}

.main__sliderBox--button {
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
    height: 40px;
    left: 39%;
    position: relative;
    text-align: center;
    width: 52%;
}

.main__sliderBox--button p {
    line-height: 230%;
}



.main__storyBox {
    align-items: center;
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4em;
    text-align: center;
    width: 100%;
}

.main__storyBox .main__storyBox--story {
    color: white;
    font-size: 1.2em;
    margin: 4em 1em 1em 1em;
}

.main__storyBox .main__storyBox--button {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 60%;
}

.main__storyBox .main__storyBox--button {
    margin: 0 auto;
}

.motivation__img {
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.main__marketing {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    margin-bottom: 2em;
    width: 90%;
}

.main__marketing .main__marketing--title {
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 0;
}


.main__marketing .main__marketing--button {
    border-radius: 3px;
    height: 5%;
    padding: 0 2em;
    text-align: center;
    width: 60%;
}

.main__marketing .main__marketing--button p {
    font-weight: 700;
}

footer {
    background-color: var(--darkBlue);
    color: white;
    display: flex;
    flex-direction: column;
    font-size: .5em;
    line-height: normal;
    margin: 0 auto;
    padding: 2em 10px;
}


.footer_site-map p {
    line-height: .3em;
}

.footer_play-links p {
    line-height: .3em;
}

.footer_follow p {
    line-height: .3em;
}